@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;
}

body {
  margin: 0;
  padding: 0;
}

a {
    color: #00aaff;
}

* {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
}